img.collapse {
width: 200px;
height: 270px;
display: inline-block;
object-fit: cover;
margin: 10px;
margin-top: 20px;
    padding: 5px;
    border-top:3px solid #9db8e4;
    border-left: 5px groove rgb(216, 157, 157);
    border-right: 5px groove rgb(209, 206, 206);
    border-bottom:3px solid #a4badf;
    background-color:rgb(66, 120, 165);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(211, 215, 223);
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 90%;
  text-align: center;
  border: 1px solid #000;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
  margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(234, 243, 255);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: lightsteelblue;
  display: none;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: lightsteelblue;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #79abda;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

.listOfLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.dotInk-logo{
  height: 150pxpx;
  width: 150px
}

.spotify {
  width: 500px;
  margin: 25px;
}
/* 
.studying {
  display: flex
  flex-direction: row;
} */

.pomodoro {
  margin: 25px;
  /* display: flex;
  flex-direction: row */

  /*to-do

